In [2]:
import sys
import os

# Esto le dice a Python que también busque módulos en la carpeta src
sys.path.append(os.path.abspath("../src"))

# Ahora ya podés importar la función como si fuera un paquete
from procesar_zscore import procesar_archivo

In [4]:
import pandas as pd

# Definimos los años que queremos procesar
anios = [2019, 2020, 2021, 2022, 2023]

# Procesamos cada archivo y los almacenamos en una lista
dfs = []
for anio in anios:
    file_path = f"../data/zscore_sample{anio}.csv"
    df_anio = procesar_archivo(file_path, anio)
    dfs.append(df_anio)

# Concatenamos todos los años en un solo DataFrame panel
df_panel = pd.concat(dfs, axis=0).reset_index(drop=True)

# Mostramos las primeras filas del panel
df_panel.head()

,SP_ENTITY_NAME,SP_ENTITY_ID,SP_GEOGRAPHY,SP_COMPANY_TYPE,IQ_INDUSTRY_CLASSIFICATION,SP_COMPANY_STATUS,IQ_TOTAL_REV_Latest Fiscal Year,IQ_TOTAL_ASSETS_2019,IQ_EBIT_MARGIN_2019,IQ_TOTAL_REV_2019,...,IQ_TOTAL_CL_2022,IQ_RETAINED_EARNINGS_2022,IQ_TOTAL_ASSETS_2023,IQ_EBIT_MARGIN_2023,IQ_TOTAL_REV_2023,IQ_TOTAL_DEBT_2023,IQ_INTEREST_EXP_2023,IQ_TOTAL_CA_2023,IQ_TOTAL_CL_2023,IQ_RETAINED_EARNINGS_2023
0,"""AGBank"" OJSC",4538223,Europe,Private Company,Financials,Liquidating,"11,586",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"""AMIO BANK"" CJSC",4559124,Europe,Private Company,Financials,Operating Subsidiary,"43,853","1,538,862",NaN,"31,092",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""Bank Dabrabyt"" Joint-stock Company",4265923,Europe,Private Company,Financials,Operating,"38,110","594,611",NaN,"38,160",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""DBK-Leasing"" JSC",4414560,Europe,Private Company,Financials,Operating Subsidiary,"114,053","1,185,982",NaN,"32,798",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""Muganbank"" Open Joint Stock Company",4552311,Europe,Private Company,Financials,Operating,"14,891","355,389",NaN,(295),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_panel.to_csv("../outputs/panel_zscore_limpio.csv", index=False)